.background {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.base {    
    height: 100%;
}

.basicMargin {
    margin-left: 5%;
}

.inputWrap {
    color: 'white';
    margin: 5px;
    word-wrap: break-word;
    width: 60%;
}
.font {
    color: whitesmoke;
    font-family: sans-serif;
}